<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="label">
                <img src="/images/LC_LOGO_black.png" alt="lclabel" >
            </div>
            <div class="links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
