<%- include("partials/header.ejs") %>
    <p>
        <div class="about">
            <span class="AboutUs">About Our Club</span>
            Since its inception in 2015, the Literary Club has consistently upheld its reputation as a distinguished society within the campus community.<br>
            Recognized for its commitment to enhancing students' communication skills and cultivating a sense of literary sophistication, the club serves<br>
            as a cornerstone for individuals seeking to refine their language proficiency and broaden their intellectual capacities.<br>
            At its core, the Literary Club strives to create an encouraging and innovative space where students can develop and polish their communication<br>
            skills through a variety of engaging activities. By engaging in dynamic discussions, participating in debates, practicing public speaking,<br>
            and attending writing workshops, club members not only enhance their ability to convey ideas effectively but also gain a profound understanding<br>
            of the intricacies of language. 
        </div>
    </p>
<%- include("partials/footer.ejs") %>