<%- include("partials/header.ejs") %>
    <p>
        <div class="contact">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora dolores harum expedita incidunt quis blanditiis tempore, ipsam fugiat. Voluptatem, dolores, numquam voluptatum quam odit quod culpa autem asperiores repellendus commodi quidem ex sint? Recusandae vitae reprehenderit iste dolor cumque dicta.
        </div>
    </p>
<%- include("partials/footer.ejs") %>